@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.light-mode{
    background-color: #fefefe;
    color: #121212;
    transition: 1s;
    /* background: url(images/wallpaper.jpg);
    background-size: cover;
    background-repeat: repeat;
    backdrop-filter: blur(5px); */
}

.dark-mode{
    background-color: #121212;
    color: #fefefe;
    transition: 1s;
}

.mode-container{
    width: 100%;
    display: flex;
    justify-content: start;
}

.dark-mode-btn{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.container{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text{
    text-align: center;
    line-height: 1.7rem;
}

.text h1{
    color: gray;
    font-weight: 500;
}

.text h1 span{
    color: #5e43f3;
    font-weight: 700;
}

.detail{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}

h3{
    margin: 5px 0;
    color: gray;
    font-weight: 400;
}

.value{
    color: #121212;
    font-weight: 600;
    transition: 1s;
}

.value-dark{
    color: #fefefe;
    font-weight: 600;
}

.anime{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 2rem;
}

.cover-anime{
    width: 250px;
    height: 350px;
    background-size: cover;
    border-radius: 10px;
}

.btn{
    padding: 10px 15px;
    font-size: 1rem;

    background-color: #5e43f3;
    color: white;

    border: none;
    border-radius: 5px;

    transition: .3s;
    cursor: pointer;
}

.btn:hover{
    background-color: #4431b0;
    color: white;
}

footer{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top: 3rem;
    bottom: 0;
    left: 0;
    /* transform: translateY(200px); */
    background-color: #5e43f3;
    color: white;

    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

/* Loading Animation */

/* From Uiverse.io by SchawnnahJ */ 
.loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
   }
   
   .loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .loader:before {
    animation: before8 2s infinite;
   }
   
   .loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   
   .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
   }

@media screen and (max-width: 500px) {
    .anime {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}